{
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8
  },
  "rules": {
    "linebreak-style": 0,
    "prefer-destructuring": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "no-trailing-spaces": "error"
  }
}
